table{
	border-collapse:collapse; border:solid 1px Black; 
}

.goodsTable tr td,th{
	border: 1px solid #000;
	width:20%; 
	height:20px;
	padding:5px;
}

.goodsTable tr td a:link{
    color:#000;
    font-size: 16px;
    text-decoration: none;/* Òþ²ØÄ¬ÈÏÁÐ±í·ûºÅ*/
}

.goodsTable tr td a:hover{
    color:blue;
    font-size: 16px;
}
.goodsTable tr td a:visited {color: red;text-decoration:none;}